$bg-color: rgb(35, 33, 74);
$text-color: #e8e8fa;
$hover-color: rgba(232, 232, 250, 0.1);

.today {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  .icon {
    margin: -45px 0;
  }
  .desc {
    display: inline-flex;
    padding: 10px;
    border-radius: 20px;
    background-color: $bg-color;
  }
  .temp {
    font-size: 3em;
  }
  .other {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    svg {
      font-size: 30px;
    }
    span {
      display: grid;
      justify-items: center;
    }
  }
}
