$bg-color: rgb(35, 33, 74);
$text-color: #e8e8fa;
$hover-color: rgba(232, 232, 250, 0.1);

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 30px;
  overflow: hidden;
}
