.App {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 600px;
  text-align: center;
  // background-image: linear-gradient(45deg, #060620 50%, #090B37 80%, #067397 120%);
  background-image: linear-gradient(45deg, #060620 65%, #090B37 90%,  #066E96 135%); 
}